@import url('icons.css');

html {
  background: url('../images/brickwall.png') #ececec;
}

body {
  /* background: rgba(255,255,255,.3); */
  /* border: 5px solid rgba(0,0,0,0.5); */
  /* border-top: 0; border-bottom: 0; */
  margin: 0 auto;
  /* box-shadow: 0 0 5px rgba(0,0,0,0.5); */
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Medula One', sans-serif;
  font-weight: normal;
}

h2 {
  font-size: 250%;
}
h3 {
  font-size: 200%;
}
h4 {
  font-size: 175%;
}


.home > header {
  width: 100%;
  background: url('../images/header-bricks.png') no-repeat center 40px;
  height: 450px;
  position: relative;
}

body > header nav {
  background: url('../images/dark-brick.png');
  overflow: hidden;
  border-bottom: 2px solid #444;
  width: 100%;
}
body > header nav .menus {
  max-width: 1415px;
  margin: 0 auto;
}
body > header nav ul {
  margin: 0; padding: 0;
}
body > header nav li {
  list-style: none;
  display: inline-block;
  padding: 0; margin: 0;
  margin-left: -4px;
  color: white;
}
body > header nav li a {
  padding: 10px 25px;
  display: inline-block;
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 15px;
  -moz-transition-property: background color;
  -moz-transition-duration: .3s;
  text-shadow: 1px 1px 0 black;
}
body > header nav li a:hover {
  color: #6cb251;
  background: rgba(0, 0, 0, 0.5);
  -moz-transition-property: background color;
  -moz-transition-duration: .3s;
}
body > header nav li a.logo {
  font-family: 'Medula One', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 100%;
  padding: 4px 25px;
  vertical-align: middle;
  color: rgba(255, 255, 255, 0.6);
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.6);
}
body > header nav li a.logo:before {
  content: '';
  margin-right: 4px;
  font-family: icomoon;
  font-size: 24px;
  font-weight: norml;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  speak: none;
}
body > header nav li a.logo:hover {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}

body > header nav ul.primary { float: left; }
body > header nav ul.secondary {
  float: right;
  font-size: 15px;
  margin-right: 20px;
}
body > header nav ul.secondary a {
  padding: 10px 5px;
}

/* .home > header nav ul.secondary li:first-child a::after { */
/*   content: ' or'; */
/*   display: inline; */
/*   color: white; */
/*   margin-left: 10px; */
/* } */


.home > header hgroup {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -50%;
  text-align: center;
  text-shadow: 1px 1px 0 white;
}

.home > header h1 {
  font-weight: normal;
  font-family: 'Medula One', sans-serif;
  font-size: 1025%;
  line-height: 65%;
  margin: 0;
  padding: 0;
  color: #444;
}

.home > header h1 .org {
  display: block;
  font-size: 45%;
  line-height: 100%;
}

.home > header h2 {
  font-size: 150%;
  font-weight: 600;
  line-height: 75%;
  font-family: 'Open Sans', sans-serif;
}

section.content {
  max-width: 1415px;
  margin: 0 auto;
}

.mailing_list {
  display: block;
  width: auto;
  text-align: center;
  margin: 10px auto;
}

.mailing_list label {
  color: white;
  background: #6cb251;
  font-size: 18px;
  padding: 3px 3px 5px 10px;
  position: relative;
  font-weight: 600;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin: 0;
}
.mailing_list label::after {
  content: '';
  border: 16px solid transparent;
  border-left-color: #6cb251;
  position: absolute;
  left: 100%;
  top: 50%;
  margin-top: -16px;
}

.mailing_list input[type=email] {
  border-radius: 0;
  border: 1px solid #ddd;
  padding: 4px 4px 4px 17px;
  margin: 0 0 0 -5px;
  width: 30%;
}

.mailing_list input[type=submit] {
  margin: 0;
  border-radius: 0;
  background: #555;
  color: white;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: inset 1px 1px 0px rgba(255, 255, 255, 0.5), inset -1px -1px 0px rgba(0, 0, 0, 0.5);
  font-size: 16px;
  padding: 3px 15px;
  margin: 0 0 0 -5px;
  border: 0;
}

section.about {
  padding: 10px 0;
  margin: 0 115px;
}
section.about:nth-child(2n+1) {
  background-color: rgba(108, 178, 81, 0.6);
  border: 40px solid white;
  border-image: url('../images/hedge.png') 38 37 40 36 round;
  border-image-outset: 40px;
  margin: 75px;
}

section.about h2 {
  line-height: 100%;
  margin: 0;
}

p.lede {
  font-size: 110%;
  font-weight: 600;
}

footer {
  margin: 50px 0 0;
  padding: 20px 5% 80px;
  font-size: 80%;
  background:  url('../images/cans-open.png') repeat-x bottom right, url('../images/dark-wood.png') repeat-x bottom;
  color: white;
  border-top: 3px solid #444;
}
footer * {
  max-width: 1415px;
  margin: 0 auto;
  padding: 10px 5%;
  -moz-box-sizing: border-box;
}
